/*! Email Template Preview Purpose */
.email-wraper { background: #E3EFFB; font-size: 14px; line-height: 22px; font-weight: 400; color: #758698; width: 100%; }
.email-wraper a { color: #1babfe; word-break: break-all; }
.email-wraper .link-block { display: block; }
.email-ul { margin: 5px 0; padding: 0; }
.email-ul:not(:last-child) { margin-bottom: 10px; }
.email-ul li { list-style: disc; list-style-position: inside; }
.email-ul-col2 { display: flex; flex-wrap: wrap; }
.email-ul-col2 li { width: 50%; padding-right: 10px; }
.email-body { width: 96%; max-width: 620px; margin: 0 auto; background: #ffffff; border: 1px solid #e6effb; border-bottom: 4px solid #1babfe; }
.resetPass-email-body { width: 96%; max-width: 620px; margin: 0 auto; background: #ffffff; border: 1px solid #e6effb; border-bottom: 4px solid #1babfe; text-align: center;}
.email-success { border-bottom-color: #00d285; }
.email-warning { border-bottom-color: #ffc100; }
.email-btn { background: #1babfe; border-radius: 4px; color: #ffffff !important; display: inline-block; font-size: 13px; font-weight: 600; line-height: 44px; text-align: center; text-decoration: none; text-transform: uppercase; padding: 0 30px; }
.email-btn-sm { line-height: 38px; }
.email-header, .email-footer { width: 100%; max-width: 620px; margin: 0 auto; }
.email-logo { height: 40px; }
.email-title { font-size: 13px; color: #1babfe; padding-top: 12px; }
.email-heading { font-size: 18px; color: #196DDF; font-weight: 600; margin: 0;text-decoration:underline }
.email-heading-sm { font-size: 16px; }
.email-heading-s2 { font-size: 15px; color: #000000; font-weight: 600; margin: 0; text-transform: uppercase; margin-bottom: 10px; }
.email-heading-s3 { font-size: 18px; color: #1babfe; font-weight: 400; margin-bottom: 8px; }
.email-heading-success { color: #00d285; }
.email-heading-warning { color: #ffc100; }
.email-note { margin: 0; font-size: 13px; line-height: 22px; color:#838383 ; }
.email-copyright-text { font-size: 13px;color:#1E4BD2 }
.email-social li { display: inline-block; padding: 4px; }
.email-social li a { display: inline-block; height: 30px; width: 30px; border-radius: 50%; background: #ffffff; }
.email-social li a img { width: 30px; }

@media (max-width: 480px) { .email-preview-page .card { border-radius: 0; margin-left: -20px; margin-right: -20px; }
  .email-ul-col2 li { width: 100%; } }

/********* Tasha's css **********/
.logo{
  height: 50px;
 margin:5px 20px;
 
 }

.resetBtn{
  padding:10px 20px;
  border:none;
  border-radius:22px;
  color:white;
  background-color: #196DDF;
  cursor: pointer;
}

.componentStyle {
  background: #fefefe;
  padding: 20px 15px;
  border-radius: 3px;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.stdButton{
  background-color: #196DDF;
  color: white;
  width: 40%;
  border:none;
  border-radius: 35px;
  padding: 7px 5px 7px 5px;
  display: block;
  font-size: 11pt;
  box-shadow: #196DDF69 0px 6px 8px;
  text-align:center;
  cursor: pointer;
  text-decoration: none !important;
}
.stdButton:hover
  {
    color:white;
 
   }
.pText{
  color: #495463;
  font-weight:500;
  font-size:11pt;
}
.spacebtw{
margin:10px 0px; 
}

h6,.h6 {
  font-size: 14pt
}

h1,h2,h4,h5,h6 {
  color: #196DDF;
  font-weight: 400;
  line-height: 1.3
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12pt;
  line-height: 1.7;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-width: 320px;
  color: #495463
}
